  // $primary: #00b0af;
  // $primary2: #03e55e;
  // $primary-bright: #05ccc6;
  // $primary-brighter: #d5ebea;
  // $primary-bright-transparent: rgba(2,58,71,0.2);
  // $primary-dark: #1f8e93;
  // $primary-darkest: #023a47;
  // //Accent palette
  // $accent: #00b0af;
  // $accent-bright: #05ccc6;
  // $accent-brighter: #d5ebea;
  // $accent-secondary: #03e55e;
  // $accent-bright-transparent: rgba(2,58,71,0.2);
  // //Foreground palette
  $primary-text: #505050;
  $primary-text-dark: #000000;
  $secondary-text: #7b7b7b;
  $hint-text: #adadad;
  $contrast-text: #ffffff; //Background palette
  $background: #ffffff;
  $background-darker: #f5f5f5;
  $background-hover: #f5f5f5; // $background-darker-hover: #e5e5e5;
  $border: #e5e5e5;
  $shadow: rgba(0, 0, 0, 0.16);
  $shadow-dark: rgba(0, 0, 0, 0.4);
  $overlay: rgba(33, 33, 33, 0.4); //Control palette
  $control-base: #aaaaaa;
  $control-primary: #00b0af;
  $control-primary-bright: #b8f2ed;
  $control-primary-dark: #1f8e93;
  $control-primary-darkest: #023b48;
  $control-disabled: #adadad;
  $control-accent: #9fb439;
  $control-accent-contrast: #03E55E; //Warn palette
  $error: #fd3030;
  $warning: #ff9100;